# Environment variables
backend/.env

# Node modules
backend/node_modules/
nim/node_modules/

# Uploaded files
backend/uploads/

# Build files
nim/build/
nim/dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db